extends layout.pug

block content
  div.grid.grid-cols-2.max-w-4xl.mx-auto.gap-6
    .w-full.mx-auto.mt-6
      h1.text-3xl.font-bold.mb-3 Users
      each user in users
        div.bg-white.border.border-gray-200.rounded-lg.mb-3.shadow(class='dark:bg-gray-800 dark:border-gray-700')
          div.flex.gap-5.items-center.px-4.pt-4
            div
              img.w-24.h-24.mb-3.rounded-full.shadow-lg(src=user.avatar, alt=`${user.username} image`)
            .flex.flex-col 
              h5.mb-1.text-2xl.font-medium.text-gray-900(class='dark:text-white')
                a(href=`/users/${user.id}`)=user.username
              span.text-sm.text-gray-500(class='dark:text-gray-400')=user.bio

    .w-full.mx-auto.mt-6
      h1.text-3xl.font-bold.mb-3 Admins
      each admin in admins
        div.flex.gap-5.items-center.px-4.pt-4
          .flex.flex-col 
            h5.mb-1.text-2xl.font-medium.text-gray-900(class='dark:text-white')
              a(href=`/users/${admin.id}`)=admin.username
            span.text-sm.text-gray-500(class='dark:text-gray-400')=admin.email
